# PostgreSQLでlc_collateとlc_ctypeに ja_JP.UTF-8 を指定するために必要
- name: apt-get update
  become: yes
  apt:
    update_cache=yes
    cache_valid_time=86400

- name: RubyとPassengerのビルドに必要な開発ツールやヘッダファイルのインストール
  become: yes
  apt:
    name='build-essential,zlib1g-dev,libssl-dev,libreadline-dev,libyaml-dev,libcurl4-openssl-dev,libffi-dev'

- name:  PostgreSQLとヘッダファイルのインストール
  become: yes
  apt:
    name='postgresql,postgresql-server-dev-10,python-psycopg2'

- name: create locale ja_JP.UTF-8
  become: yes
  locale_gen:
    name: "{{ redmine_locale }}"

- name: set locale to ja_JP.UTF-8
  become: yes
  command: update-locale LANG={{ redmine_locale }}
  when: ansible_env.LANG | default('') != [ redmine_locale ]

- name:  Apacheとヘッダファイルのインストール
  become: yes
  apt:
    name='apache2,apache2-dev,libapr1-dev,libaprutil1-dev'

- name:  ImageMagickとヘッダファイル・日本語フォントのインストール
  become: yes
  apt:
    name='imagemagick,libmagick++-dev,fonts-takao-pgothic'

- name:  そのほかのツールのインストール
  become: yes
  apt:
    name='subversion,git'

- name: 作業ディレクトリ作成
  file: path={{ work_dir }} state=directory mode=0755
