- name: start postgresql server
  become: yes
  service:
    name=postgresql
    state=started

- name: PostgreSQL ユーザー作成
  become: yes
  become_user: postgres
  postgresql_user:
    name=redmine
    password={{ db_passwd_redmine }}

- name: PostgreSQL データベース作成
  become: yes
  become_user: postgres
  postgresql_db:
    name=redmine
    encoding='UTF-8'
    lc_collate= {{redmine_locale }}
    lc_ctype= {{redmine_locale }}
    template='template0'
